@using CvAndPortfolio.Models.Entity
@model List<TBLSKILL>

<!-- ======= Skills Section ======= -->
<section id="skills" class="skills section-bg">
    <div class="container">
        <div class="section-title">
            <h2>Skills</h2>
        </div>
        <div class="row skills-content">

            <div class="col-lg-6" data-aos="fade-up">
                @foreach (var item in Model)
                {
                    if (item.LEFTORRIGHT == true)
                    {
                        <div class="progress">
                            <span class="skill">@item.TITLE <i class="val">@item.VALUE%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="@item.VALUE" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    }


                }

            </div>

            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                @foreach (var item in Model)
                {
                    if (item.LEFTORRIGHT == false)
                    {
                        <div class="progress">
                            <span class="skill">@item.TITLE <i class="val">@item.VALUE%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="@item.VALUE" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    }

                }

            </div>

        </div>

    </div>
</section><!-- End Skills Section -->
