@model CvAndPortfolio.Models.Entity.TBLABOUT
@{
    ViewBag.Title = "AboutUpdate";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<!DOCTYPE html>

<html>
<body>
    <div class="layout-page">
        <!-- Content wrapper -->
        <div class="content-wrapper">
            <!-- Content -->
            <div class="container-xxl flex-grow-1 container-p-y">
                <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">About Me /</span> Profile</h4>

                <div class="row">
                    <div class="col-md-12">

                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="d-flex align-items-start align-items-sm-center gap-4">

                                    <img src="@Model.PICURL"
                                         alt="user-avatar"
                                         class="d-block rounded"
                                         height="100"
                                         width="100" />

                                </div>
                            </div>
                            <hr class="my-0" />
                            <div class="card-body">
                                <form method="POST">
                                    <div class="row">
                                       

                                            <div class="mb-3 col-md-6">
                                                <label class="form-label">Full Name</label>
                                                <input class="form-control"
                                                       type="text"
                                                       name="NAMESURNAME"
                                                       value="@Model.NAMESURNAME"
                                                       autofocus />
                                            </div>
                                            <div class="mb-3 col-md-6">
                                                <label class="form-label">ADDRESS</label>
                                                <input class="form-control"
                                                       type="text"
                                                       name="ADDRESS"
                                                       value="@Model.ADDRESS" />
                                            </div>
                                            <div class="mb-3 col-md-6">
                                                <label class="form-label">TITLE</label>
                                                <input class="form-control"
                                                       type="text"
                                                       name="TITLE"
                                                       value="@Model.TITLE" />
                                            </div>
                                            <div class="mb-3 col-md-6">
                                                <label class="form-label">SUBTITLE</label>
                                                <input class="form-control"
                                                       type="text"
                                                       name="SUBTITLE"
                                                       value="@Model.SUBTITLE" />
                                            </div>
                                            <div class="mb-3 col-md-6">
                                                <label class="form-label">DEGREE</label>
                                                <input type="text"
                                                       class="form-control"
                                                       name="DEGREE"
                                                       value="@Model.DEGREE" />
                                            </div>
                                            <div class="mb-3 col-md-6">
                                                <label class="form-label">MOBILE</label>
                                                <input type="text"
                                                       name="MOBILE"
                                                       class="form-control"
                                                       value="@Model.MOBILE" />
                                            </div>

                                            <div class="mb-3 col-md-6">
                                                <label class="form-label">AGE</label>
                                                <input type="text"
                                                       class="form-control"
                                                       name="AGE"
                                                       value="@Model.AGE" />
                                            </div>

                                            <div class="mb-3 col-md-6">
                                                <label class="form-label">E-MAIL</label>
                                                <input class="form-control"
                                                       type="text"
                                                       name="EMAIL"
                                                       value="@Model.EMAIL" />
                                            </div>
                                            <div class="mb-3 col-md-6">
                                                <label class="form-label">RELOCATION</label>
                                                <input type="text"
                                                       class="form-control"
                                                       name="RELOCATION" @*maxlength="6"*@
                                                       value="@Model.RELOCATION" />
                                            </div>
                                            <div class="mb-3 col-md-6">
                                                <label class="form-label">PICTURE URL</label>
                                                <input type="text"
                                                       class="form-control"
                                                       name="PICURL" @*maxlength="6"*@
                                                       value="@Model.PICURL" />
                                            </div>
                                            <div class="mb-3 col-md-6">
                                                <label class="form-label">DESCRIPTION</label>
                                                <textarea rows="8"
                                                          type="text"
                                                          class="form-control"
                                                          name="DESCRIPTION">@Model.DESCRIPTION</textarea>

                                            </div>
                                            <div class="mb-3 col-md-6">
                                                <label class="form-label">SUBDESCRIPTION</label>
                                                <textarea rows="8"
                                                          type="text"
                                                          class="form-control"
                                                          name="SUBDESCRIPTION">@Model.SUBDESCRIPTION</textarea>
                                            </div>
                                        


                                    </div>
                                    <div class="mt-2">
                                        <button type="submit" class="btn btn-primary me-2">Save changes</button>
                                        <button type="reset" class="btn btn-outline-secondary">Cancel</button>
                                    </div>
                                </form>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</body>
</html>
